.home.blog {
	.type-post {
		max-width: $article__home_content_width;
		margin-left: auto;
		margin-right: auto;
	}
}
.type-post {
	margin-top: 30px;
	margin-bottom: 60px;
	max-width: $article__content_width;
	margin-left: auto;
	margin-right: auto;
	@media(min-width: $laptop__breakpoint){
		margin-top: 100px;
		margin-bottom: 100px;
	}
}
.post-image {
	display: flex;
	margin-bottom: 20px !important;
	border-radius: 5px;
	img {
		overflow: hidden;
		border-radius: 5px;
		align-self: flex-start;
	}
}
.post-image.cover {
	height: 200px;
	width: 100%;
	@media(min-width: $mobile__breakpoint){
		height: 300px;
	}
	@media(min-width: $laptop__breakpoint){
		height: 400px;
	}
}