.header {
	background: #fafafa;
}
.section {
	width: 100%;
	
	&-content {
		background: #f5f5f5;
	}
	&-sidebar {
		background: #EAEAEA;
	}
}
.footer {
	color: #6E6E6E;
	background: #333;
	a {
		color: #CDCDCD;
		&:hover {
			color: #f5f5f5;
		}
	}
}