.grid {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	@media(min-width: $mobile__breakpoint) {
		margin: 0 -1px -1px 0;
	}
	@media(min-width: $desktop__breakpoint) {
		margin: 0 -3px -3px 0;
	}

	.element {
		width: 100%;
		margin: 0 -1px -1px 0;
	}
}
.element {
	&.is-half,
	&.is-third,
	&.is-two-thirds,
	&.is-quarter {
		width: 100%;
		@media(min-width: $mobile__breakpoint) {
			.section-sidebar & {
				max-width: 50%;
				flex: 1 0 50%;
			}
		}
		@media(min-width: $tablet__breakpoint) {
			.section-content & {
				max-width: 50%;
				flex: 1 0 50%;
			}
		}
	}
	@media(min-width: $tablet__breakpoint) {
		&.is-third,
		&.is-quarter {
			.section-content &,
			.section-sidebar & {
				max-width: 33.333%;
				flex: 1 0 33.333%;
			}
		}
		&.is-two-thirds {
			.section-content &,
			.section-sidebar & {
				max-width: 66.666%;
				flex: 1 0 66.666%;
			}
		}
	}
	@media(min-width: $desktop__breakpoint) {
		&.is-quarter {
			.section-content &,
			.section-sidebar & {
				max-width: 25%;
				flex: 1 0 25%;
			}
		}
	}

}