body {
	background: $app__background;
	@media screen and (min-width: $tablet__breakpoint) {
		margin: $app__margin;
	}
}

#app {
	width: 100%;
	max-width: $app__max_width;
	box-sizing: border-box;
	padding: 0;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	box-shadow: $app__shadow;

	.container {
		max-width: $app__container_width;
		padding: 0 20px;
		margin: 0 auto;
		&.collapse {
			padding: 0 !important;
		}
	}
	.section {
		width: 100%;
		&-content {
			.container {
				background: $app__content_background;
			}
		}
	}
	.site-content {
		min-height: 480px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.content-area {
		max-width: $app__content_width;
		margin: 0 auto;
		p {
			margin-bottom: 1em;
		}
	}
}