body {
	@media screen and (min-width: $tablet__breakpoint) {
		margin: $app__margin;
	}
}

#app {
	width: 100%;
	max-width: $app__max_width;
	box-sizing: border-box;
	padding: 0;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 2px 50px rgba(0,0,0,0.2);

	.container {
		max-width: $app__container_width;
		padding: 20px;
		margin: 0 auto;
	}
	.section {
		width: 100%;
	}
}