.section-header {
	.container {
		padding-left: $header__h_padding !important;
		padding-right: $header__h_padding !important;
	}
}


.menu-toggle,
.site-branding,
.menu-toggle-container {
	height: $mobile_menu__toggle_size;
	width: $mobile_menu__toggle_size;
}

.site-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	@media(min-width: $mobile_menu__breakpoint) {
		flex-direction: row;
		align-items: center;
	}

	.site-branding {
		width: 100%;
		display: flex;
		align-items: center;
	}
	.site-title {
		font-size: 20px;
		font-weight: 700;
	}

	.site-title,
	.site-description {
		margin-bottom: 0;
		margin-top: 0;
	}

	.main-navigation {
		display: flex;
		flex-direction: column;

		.menu {
			display: flex;
			@media(min-width: $mobile_menu__breakpoint) {
				justify-content: flex-end;
			}
		}

		.menu-toggle {
			border: none;
			background: none;
		}

		.menu-toggle-container  {
			z-index: 99998;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: $mobile_menu__outer_margin;
			right: $mobile_menu__outer_margin;
			@media screen and (min-width: $mobile_menu__breakpoint) {
				display: none;
			}
			&:hover {
				background: #f3f3f3;
			}
		}

		ul.nav-menu {
			display: none;
			@media screen and (min-width: $mobile_menu__breakpoint) {
				display: flex;
				justify-content: flex-end;
				flex-wrap: wrap;
				position: relative;
				right: -10px;
			}
			li a {
				line-height: 2;
				@media screen and (min-width: $mobile_menu__breakpoint) {
					padding: 0 10px;
				}
			}
		}

		&.toggled ul {
			display: flex;
			@media(max-width: $mobile_menu__breakpoint) {
				display: flex !important;
				flex-direction: column;
			}
		}

		ul ul {
			@media(max-width: $mobile_menu__breakpoint) {
				box-shadow: none;
				float: none;
				position: initial;
				top: 0;
				left: 0;
				padding-left: 20px;
			}
		}
	}
}